.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*   SPLASH SCREEN STYLES   */
html {
  padding: 0 5em 0 5em;
  background: #373535;  /* fallback for old browsers *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.menu_cards {
  padding: 1em;
  min-height: 15vw !important;
  max-height: 15vw !important;
  min-width: 38vw !important;
  max-width: 38vw !important;
  border-radius: 2em !important;
  transform: skewX(-15deg);
  box-shadow: 5px 5px 5px 0px rgba(255,255,255,0.75) !important;
  transition: all 0.1s ease-in-out !important;
  /* background: rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px); */
}
.menu_cards:hover {
  box-shadow: 15px 15px 15px 15px rgba(255,255,255,0.3) !important;
  transform: scale(1.05) skewX(-15deg);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scale {
  transform: scale(2) !important;
}

.indicator {
  height: 50px;
  width: 50px;
  color: white;
  background-color: white;
  display: flex;
  justify-content: center;
  align-self:center;
}

.test {
  color: red !important;
}

.splash_screen {
  width: 50vw;
  height: 50vh;
  background:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
  border-radius: 1rem !important;
}

.evil_circle {
  color: red !important;
}



